<!--<input placeholder="名前" type="text" name="name" [(ngModel)]="myName" />-->

<div class="main-contents">
    <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab">
        <mat-tab label="メンバー">
            <div id="member-infomation" class="tab-contents">
                <!--　
                Todo: 
                グループ名の表示 
                文字数制限
                バリデーションチェック
                フォーカスのエフェクト
                必須項目のエフェクトの修正
                支払い情報の編集機能
                削除時の確認ダイアログ
                支払い情報入力のモーダル化
                -->
                <mat-form-field appearance="outline">
                    <mat-label>メンバーの追加</mat-label>
                    <input matInput #memberName maxlength="20" placeholder="Name" [formControl]="nameFormControl">
                    <mat-hint align="end">{{memberName.value.length}} / 20</mat-hint>
                    <button mat-icon-button matSuffix aria-label="Example icon-button with a heart icon" (click)="addMember()">
                        <mat-icon fontSet="material-icons-outlined" color="primary">person_add</mat-icon>
                    </button>
                    <!--<mat-error *ngIf="nameFormControl.hasError('required')">-->
                    <!--    Name is <strong>required</strong>-->
                    <!--</mat-error>-->
                    <!--<mat-hint>名前を入力</mat-hint>-->
                </mat-form-field>
                <!--<button mat-raised-button color="primary" name="add-person" (click)="addMember()">Add</button>-->

                <mat-list>
                    <h3 mat-subheader>メンバー</h3>
                    <mat-list-item *ngFor="let person of members">
                        <mat-icon mat-list-icon>person_outline</mat-icon>
                        <h4 mat-line>{{person}}</h4>
                        <button mat-icon-button (click)="openRemoveMemberDialog(person)">
                          <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>

        <mat-tab label="支払い">
            <div id="payment-infomation" class="tab-contents">
                <div id="payment-form">
                    <mat-form-field>
                        <mat-label>支払った人</mat-label>
                        <button mat-icon-button matPrefix>
                            <mat-icon [color]="payerIconColor" class="prefix-icon">person</mat-icon>
                        </button>
                        <mat-select (focus)="payerIconColor='primary'" (blur)="payerIconColor='black'" [(value)]="payer" required>
                            <mat-option>-- 支払った人を選んでください --</mat-option>
                            <mat-option *ngFor="let member of members" [value]="member">{{member}}</mat-option>
                        </mat-select>
                        <mat-hint>支払った人</mat-hint>
                    </mat-form-field>
                    <br/>
                    <mat-form-field class="example-form-field">
                        <button mat-icon-button matPrefix>
                            <mat-icon [color]="amountIconColor" class="prefix-icon">attach_money</mat-icon>
                        </button>
                        <input matInput type="number" min="1" max="100000000" [formControl]="amountFC" (focus)="amountIconColor='primary'" (blur)="amountIconColor='black'" placeholder="金額" [(ngModel)]="amount" required="required">
                        <button mat-icon-button *ngIf="amount" matSuffix aria-label="Clear" (click)="amount=null">
                        <mat-icon>close</mat-icon>
                    </button>
                        <mat-hint>支払った金額</mat-hint>
                    </mat-form-field>
                    <br/>
                    <mat-form-field class="example-chip-list">
                        <button mat-icon-button matPrefix>
                            <mat-icon [color]="debtorsIconColor" class="prefix-icon">people</mat-icon>
                        </button>
                        <mat-chip-list #chipList aria-label="debtor selection">
                            <mat-chip *ngFor="let debtor of debtors" [selectable]="selectable" [removable]="removable" (removed)="remove(debtor)">
                                {{debtor}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input matInput (focus)="debtorsIconColor='primary'" (blur)="debtorsIconColor='black'" placeholder="誰の分を支払ったか" required="required" #debtorInput [formControl]="debtorCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let debtor of filtereddebtors | async" [value]="debtor">
                                {{debtor}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-hint>誰の分を支払ったか</mat-hint>
                    </mat-form-field>
                    <br/>
                    <mat-form-field class="example-form-field">
                        <button mat-icon-button matPrefix>
                            <mat-icon [color]="memoIconColor" class="prefix-icon">notes</mat-icon>
                        </button>
                        <input matInput #mm (focus)="memoIconColor='primary'" (blur)="memoIconColor='black'" type="text" placeholder="メモ" [(ngModel)]="memo" maxlength=100>
                        <mat-hint align="end">{{mm.value.length}} / 100</mat-hint>
                        <mat-hint>メモ</mat-hint>
                        <button mat-icon-button *ngIf="memo" matSuffix aria-label="Clear" (click)="memo=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <button class="right" mat-raised-button color="accent" name="add-payment" (click)="addPayment()">
                        <mat-icon>post_add</mat-icon>
                        追加
                    </button>
                </div>
                <mat-list id="payment-list" *ngIf="paymentsForDisplay.length">
                    <h3 mat-subheader>支払い</h3>
                    <mat-list-item *ngFor="let payment of paymentsForDisplay" (click)="navigate(payment)">
                        <mat-icon mat-list-icon>payment</mat-icon>
                        <h4 mat-line>{{payment.payer}} </h4>
                        <p matLine color="primary">
                            <span color="primary"> {{payment.amount | number}} </span>
                            <span *ngIf="payment.memo">&nbsp; ({{payment.memo}}) </span>
                        </p>
                        <button mat-icon-button (click)="openRemovePaymentDialog($event, payment)">
                          <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>

        <mat-tab label="精算">
            <div id="payoff-infomation" class="tab-contents">
                <mat-list>
                    <mat-list-item *ngFor="let po of payoffTable">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{po.source}}</mat-chip>
                        </mat-chip-list>
                        <mat-icon class="mgrl-10">arrow_forward</mat-icon>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{po.dist}}</mat-chip>
                        </mat-chip-list>
                        <span class="mgl-10">{{po.amount | number}}</span>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>

            <!--<table>-->
            <!--    <tr *ngFor="let p of payments">-->
            <!--        <td>{{p.amount}}</td>-->
            <!--        <td>{{p.payer}}</td>-->
            <!--        <td>{{p.memo}}</td>-->
            <!--    </tr>-->
            <!--</table>-->

            <!--<p *ngIf="totalCost">合計: {{totalCost}} 円</p>-->
            <!--<p *ngIf="costPerPerson">一人当たり: {{costPerPerson}} 円</p>-->
            <!--<p *ngIf="sumCostsMap">sumCostsMap: {{sumCostsMap|json}}</p>-->
            <!--<p *ngIf="debtsMap">debtsMap: {{debtsMap|json}}</p>-->
            <!--<p *ngIf="payoffTable">payoffTable: {{payoffTable|json}}</p>-->
            <!--<p *ngIf="fraction">fraction: {{fraction|json}}</p>-->
        </mat-tab>

    </mat-tab-group>

</div>
<!--<button>計算</button>-->
